video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url("../../videos/Castle.mov") center center/ cover no-repeat; */
  /* background: url("../../images/background2.jpg") center center/ cover no-repeat; */
  background: url("../assets/images/background.jpg") center center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 0px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  /* color: #141414; */
  font-size: 32px;
}

.hero-btns {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 60px;
  }

  .hero-container > p {
    font-size: 30px;
  }
}
